/*
Theme Name: besserkongress
Author: Benedict Lang
Version: 0.1
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,100,500);
* {
  font-family: 'Roboto', Sans-Serif; }

img {
  max-width: 100%;
  height: auto !important; }

.container-fluid {
  padding: 0px;
  width: 100%;
  overflow: hidden; }

.toggle {
  display: none; }

header {
  background-size: cover !important;
  background-attachment: fixed !important;
  margin: 0 auto;
  width: 100%;
  min-height: 350px;
  z-index: 0;
  left: 0;
  -webkit-box-shadow: 0px -2px 5px 0px #7d7d7d;
  -moz-box-shadow: 0px -2px 5px 0px #7d7d7d;
  box-shadow: 0px -2px 5px 0px #7d7d7d; }

.logo {
  padding: 0px;
  margin-bottom: 35px;
  padding-top: 25px; }

.menu {
  z-index: 1000;
  padding: 10px 0px 10px 0px;
  background: rgba(87, 196, 219, 0.8); }
  .menu ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin-bottom: 0px; }
    .menu ul li {
      display: inline; }
      .menu ul li a {
        color: white;
        font-weight: 300;
        font-size: 18px;
        padding-left: 15px; }
        .menu ul li a:hover {
          text-decoration: none;
          font-weight: 500; }
      .menu ul li:last-child {
        display: none; }

.current-menu-item a {
  font-weight: 500 !important; }

.slogan {
  background: rgba(87, 196, 219, 0.8);
  font-size: 35px;
  padding: 30px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 100px;
  z-index: 500; }

main {
  background: #ffffff;
  margin-bottom: 0px;
  z-index: 600; }

.article-wrapper {
  -webkit-box-shadow: 0px -2px 2px 0px #c8c8c8;
  -moz-box-shadow: 0px -2px 2px 0px #c8c8c8;
  box-shadow: 0px -1px 5px 0px #c8c8c8; }
  .article-wrapper:nth-child(2n) {
    background: #eee; }
  .article-wrapper .pre_article {
    padding-top: 50px;
    margin-bottom: 25px;
    text-align: center; }
    .article-wrapper .pre_article h2 {
      color: #57c4db; }
    .article-wrapper .pre_article .underline {
      width: 50px;
      border-bottom: 2px solid #57c4db; }

.article {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px; }
  .article p:last-child {
    margin-bottom: 0px; }

.post_article {
  margin-top: 15px;
  text-align: center; }

footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #57c4db;
  margin-top: 0px;
  text-align: center;
  color: #fff;
  font-size: 10px; }

#menu-footermenue {
  margin-top: 0px; }
  #menu-footermenue li a {
    color: #fff;
    font-size: 10px;
    text-decoration: underline; }

@media only screen and (max-width: 768px) {
  #mainmenu {
    margin-bottom: 50px; }

  .toggle {
    display: block; }

  .logo {
    width: 70%;
    margin-left: 10px; }

  .slogan {
    display: none; }

  .boebel {
    display: none; }

  .menucontent {
    display: none;
    z-index: 1000; }

  .menu-activated {
    display: block;
    z-index: 1000; }

  #mainmenu ul {
    padding-left: 30px; }
    #mainmenu ul li {
      display: block; }

  .separator {
    display: none !important; } }

/*# sourceMappingURL=style.css.map */
